body, html{
    font-family: Helvetica, sans-serif;
    height: 100%;
}

#wrapper{
    display: grid;
    place-items: center;
    height: 95vh;          
}

#container{
    /* 최대 사이즈를 지정, 기본 사이즈는 화면 크기의 45% */
    width: 45vw;

    margin: auto auto;
    padding: 50px 50px ;
    /* 박스 음영 생성 */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 769px){
    #container{
        /* 최대 사이즈를 지정, 기본 사이즈는 화면 크기의 45% */
        width: 95vw;
    
        margin: auto auto;
        padding: 40px 40px ;
        /* 박스 음영 생성 */
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        /* tlqkftlqkftlqkftlqkf */
    }
}

#login{
    font-size: 60px;
    font-weight: 700;
}

#go-signup{
    margin-top: 20px;
    font-size: 18px;
}

#go-signup a{
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
.g-signin2,.g-signin{
    width: 100%;
}

.g-signin2 > div, .g-signin>div{
    margin: 0 auto;
    margin-bottom: 10px;
}